[Unit]
Description=Gunicorn для Kittygram (Django)
After=network.target

[Service]
User=yc-user
Group=www-data
WorkingDirectory=/home/yc-user/infra_sprint1/backend
Environment="PYTHONPATH=/home/yc-user/infra_sprint1"
ExecStart=/home/yc-user/infra_sprint1/venv/bin/gunicorn \
          --workers 3 \
          --bind unix:/var/run/gunicorn/kittygram.sock \
          backend.kittygram_backend.wsgi
Restart=always

[Install]
WantedBy=multi-user.target
